body {
  min-height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}
.service-item {
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

.service-item:last-child {
  margin-bottom: 0;
}
